#one{
    color:rgb(95, 195, 228);
    font-size: 80px;
}
#two{
    color:red;
    font-size: 80px;
}
#three{
    color:yellow;
    font-size: 80px;
}
#four{
    color:rgb(95, 195, 228);
    font-size: 80px;
}
#five{
    color:green;
    font-size: 80px;
}
#six{
    color:red;
    font-size: 80px;
}
input{
    width: 400px;
    height: 30px;
    border-radius: 20px;
}
button{
    background-color: rgb(95, 195, 228);
    color: seashell;
    width: 70px;
    height: 40px;
    border-radius: 20px;
}