#one{
    color:rgb(95, 195, 228);
    font-size: 80px;
}
#two{
    color:red;
    font-size: 80px;
}
#three{
    color:yellow;
    font-size: 80px;
}
#four{
    color:rgb(95, 195, 228);
    font-size: 80px;
}
#five{
    color:green;
    font-size: 80px;
}
#six{
    color:red;
    font-size: 80px;
}